
a, a:hover{
	text-decoration: none;
	color:white;
}
.footer-bottom li{
	display: inline;
}
.juel li{
	padding-left:20px ;
}
.sourov{
border-bottom:2px solid black;	

}
.footer{
background-color:#F0F0F0;
}
.footer-bottom{
margin-top:40px ;

}

h1 a, h1 a:hover{
color:#FFFFFF;
}
.a{
	color:lightblue;
		
}

	
	

.border-bottom{
	border-bottom:2px solid black;
	padding-bottom:20px;
	OVERFLOW:HIDDEN;
}
.header-top{
width:1200px;	
height:150px;
background-color:blue;
margin-top:20px;	
}
.top{
	background-color:#02A7BC ;
padding-top: 36px;
padding-bottom: 36px;

}
h1{
color:#FFFFFF;
padding-left: 145px;
}
.bottom{
	background-color:#02A7BC;
margin-top: 2px;
margin-bottom: 40px;
}
.all-Categories{
border-right: 2px solid white;
padding-top: 20px;
padding-left:211px;
}
.language{
border-left: 2px solid #FFFFFF ;
padding-top: 20px;
}
.everything{
padding-top: 20px;

}
.pic{
	
	margin-top: 40px;
}
.mx{
	color:lightblue;
	margin-top: 12px;
}
.vedio{
border-bottom: 2px solid black;
}
.volt{
background-color: lightblue;
padding-bottom: 32px;

}
.align{
	text-align: center;
}
.pink{
	border:1px solid #707070  ;
	border-top: 25px solid #A3D8E6 ;
	margin-top: 25px;
	padding-bottom: 30px;
}
.picture{
	padding-left: 23px;
	padding-top: 18px;
}
.joy img{
	position: absolute;
	top: -25px;
}
.order-now{
	padding-left: 33px;
	padding-top: 80px;	
}
.white{
	border:1px solid #707070  ;
	border-top: 25px solid #A3D8E6 ;
	margin-top: 25px;
	padding-bottom: 30px;

}
.healthcare-products{
	padding-left: 23px;
	padding-top: 18px;

}
.roy img{
	position: absolute;
	top: -25px;
}
.order-now{
	padding-left: 33px;
	padding-top: 80px;	
}
.form-control{
	padding-left: 417px;
}
.itmes{
color:white;
padding-left: 20px;

}
.login{
	color:white;
	padding-left: 20px;
}
.footer-top{
	border-bottom:2px solid black;
}
.quantam{
	padding-left: 93px;
}
.privacy{
	padding-left: 28px;
}
.terms{
	padding-left: 24px;
}
li{
	list-style-type: none;
}
.footer-top{
	margin-top: 58px;
}
.background-color{
	background-color: #707070;
}









	
	
