
li{
	list-style: none;
}
.footer-bottom li{
	display: inline;
}
.juel li{
	padding-left:20px ;
}
.sourov{
border-bottom:2px solid black;	

}
.footer{
background-color:#F0F0F0;
}
.footer-bottom{
margin-top:40px ;

}
.robi li{
padding-left: 20px;
}
.rahim ul{
padding-left:0px ;

}
.jony{
background-color:lightblue ;
	padding:25px;
}
.rony{
	width:300px;
	height:250px;
	background-color:lightblue ;
	padding:25px;
}
.bony{
	width:300px;
	height:250px;
	background-color:lightblue ;
padding:25px;
}
h1{
color:lightblue;
}
.a{
	color:lightblue;
		
}

	
	

.border-bottom{
	border-bottom:2px solid black;
	padding-bottom:20px;
	OVERFLOW:HIDDEN;
}
.header-top{
width:1200px;	
height:150px;
background-color:blue;
margin-top:20px;	
}
.top{
	background-color:#02A7BC ;
padding-top: 36px;
padding-bottom: 36px;

}
h1{
color:#FFFFFF;
padding-left: 165px;
}
p{
	color:#F0F0F0;
}
.bottom{
	background-color:#02A7BC;
margin-top: 2px;
margin-bottom: 40px;
}
.all-Categories{
border-right: 2px solid white;
padding-top: 20px;
padding-left:211px;
}
.language{
border-left: 2px solid #FFFFFF ;
padding-top: 20px;
}
.everything{
padding-top: 20px;

}
.pic{
	
	margin-top: 40px;
}
.mx{
	color:lightblue;
}
.vedio{
border-bottom: 2px solid black;
}
.volt{
background-color: lightblue;

}
.align{
	text-align: center;
}

